<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBM5AnTTMK7F44RQKcTrwBtMpTq_fCo1eQ</string>
	<key>GCM_SENDER_ID</key>
	<string>521339235788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>msgs-2d55c</string>
	<key>STORAGE_BUCKET</key>
	<string>msgs-2d55c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521339235788:ios:8dcc62070c01946b0e0169</string>
</dict>
</plist>